{{- $tag := .Params.Radar.Ring }}
{{- $tagType := "" }}
{{- if eq $tag "adopt" }}
  {{- $tagType = "green" }}
{{- else if eq $tag "trial" }}
  {{- $tagType = "info" }}
{{- else if eq $tag "assess" }}
  {{- $tagType = "warning" }}
{{- else if eq $tag "hold" }}
  {{- $tagType = "error" }}
{{- end }}

{{- $title := .Title }}
{{- if .Draft }}
  {{- $title = printf "%s (draft)" .Title }}
{{- end }}

{{- (partial "shortcodes/card" (dict "title" $title "subtitle" .Params.Radar.Status "link" .RelPermalink "tag" $tag "tagType" $tagType))}}
