{{- $content := "" }}

{{- $s := newScratch }}
{{- $s.Set "adopt" slice }}
{{- $s.Set "trial" slice }}
{{- $s.Set "assess" slice }}
{{- $s.Set "hold" slice }}

{{- range (sort .RegularPagesRecursive "Title") }}
  {{- $tag := .Params.Radar.Ring }}
  {{- $tagType := "" }}
  {{- if eq $tag "adopt" }}
    {{- $tagType = "green" }}
  {{- else if eq $tag "trial" }}
    {{- $tagType = "info" }}
  {{- else if eq $tag "assess" }}
    {{- $tagType = "warning" }}
  {{- else if eq $tag "hold" }}
    {{- $tagType = "error" }}
  {{- end }}

  {{- $title := .Title }}
  {{- if .Draft }}
    {{- $title = printf "%s (draft)" .Title }}
  {{- end }}

  {{- $s.Add $tag (slice .)}}
{{- end }}

{{- range (slice "adopt" "trial" "assess" "hold") }}
  {{- $ring := . }}
  {{- $content = "" }}
  {{- range (sort ($s.Get $ring) "Title")}}
    {{- $content = printf "%s\n%s" $content (partial "radar/card.html" .)}}
  {{- end }}

  <h2>{{- strings.Title $ring }}</h2>
  {{- partial "shortcodes/cards" (dict "cols" 2 "content" ($content|safeHTML)) -}}
{{- end }}

