{{- $content := "" }}

{{- range .RegularPagesRecursive }}
  {{- $tag := .Params.Radar.Ring }}
  {{- $tagType := "" }}
  {{- if eq $tag "adopt" }}
    {{- $tagType = "green" }}
  {{- else if eq $tag "trial" }}
    {{- $tagType = "info" }}
  {{- else if eq $tag "assess" }}
    {{- $tagType = "warning" }}
  {{- else if eq $tag "hold" }}
    {{- $tagType = "error" }}
  {{- end }}

  {{- $title := .Title }}
  {{- if .Draft }}
    {{- $title = printf "%s (draft)" .Title }}
  {{- end }}

  {{- $content = printf "%s\n%s" $content (partial "radar/card.html" .)}}
{{- end }}

{{- partial "shortcodes/cards" (dict "cols" 2 "content" ($content|safeHTML)) -}}

