{{- $title := .Get 0 }}
{{- $display := .Get 1 | default "" }}
{{- $page := "" }}

{{- range .Site.RegularPages }}
  {{- $matches := false }}
  {{- if eq (lower .Title) (lower $title) }}
    {{- $matches = true }}
  {{- else }}
    {{- range .Params.aliases }}
      {{- if eq (lower .) (lower $title) }}
        {{- $matches = true }}
      {{- end }}
    {{- end }}
  {{- end }}
  {{- if $matches }}
    {{- if eq $page "" }}
      {{- $page = . }}
    {{- else if and (eq .Section "garden") (ne $page.Section "garden") }}
      {{- $page = . }}
    {{- end }}
  {{- end }}
{{- end }}

{{- if ne $page "" }}
  {{- if eq $display "" }}
    {{- $display = $title }}
  {{- end }}
  {{- printf "[%s](%s)" $display $page.RelPermalink }}
{{- else }}
  {{- $display | default $title }}
{{- end -}}
