{{- $title := .Get 0 }}
{{- $display := .Get 1 | default "" }}
{{- $page := "" }}

{{- range .Site.RegularPages }}
  {{- if eq (lower .Title) (lower $title) }}
    {{- $page = .}}
    {{- break }}
  {{- else }}
    {{- $p := . }}
    {{- range $value := .Params.aka }}
      {{- if eq (lower $value) (lower $title) }}
        {{- $page = $p }}
        {{- break }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}

{{- if ne $page "" }}
  {{- if eq $display "" }}
    {{- $display = $title }}
  {{- end }}
  {{- printf "[%s](%s)" $display $page.RelPermalink }}
{{- else }}
  {{- $display | default $title }}
{{- end -}}
